h1 {
	font-family: 'MetaSerifWeb-Book',Georgia,serif;
	font-size: 28px;
	line-height: 34px;
	margin-bottom: 5px;	
	font-weight: normal;
}

body {
	font-family: Helvetica,Arial,sans-serif;
	color: #1a1a1a;
	margin: auto;
	margin-top: 20px;
	font-size: 13px;
	line-height: 19px;
	overflow-x: hidden;
	width: 650px;
}
