body {
	font-family: Helvetica,Arial,sans-serif;
	color: #1a1a1a;
	margin: auto;
	margin-bottom: 40px;
	margin-top: 20px;
	font-size: 13px;
	line-height: 19px;
	width: 650px;
	font-family: "helvetica neue", sans-serif;
	font-weight: 300;
}

p {
font-size: 15px;
line-height: 1.3em;
}

li {
  list-style-type: none;
}
 
ul {
  padding:0;
  margin:0;
}
 
.stop-location {
  font-weight:bold;
}


 
